body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: black;
}

.input-container {
  display: flex;
  align-items: center;
  padding-top: 70px;
  padding-left: 70px;
  gap: 12px; /* Space between the label and input */
  margin-bottom: 20px;
}

.input-container label {
  font-size: 16px;
  color: white;
  padding-top: 10px;
}

.input-container input[type="text"] {
  padding-top: 10px;
  font-size: 16px;
  flex: 1; /* Makes the input box grow as needed */
  max-width: 400px; /* Keeps the input box from getting too wide */
  border-radius: 15px;
}

.half-ellipse-header {
  background-color: rgb(235, 235, 8);

  height: 60px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  box-sizing: border-box;
  color: black;
}

.menu-icon {
  cursor: pointer;
  font-size: 24px;
  padding-bottom: 25px;
  padding-top: 15px;
  padding-left: 10px;
}

.logo h2 {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  flex: 1;
  padding-left: 160px;
  padding-top: 40px;
}

.logo p {
  font-size: 16px;
  color: white;
  text-align: center;
  flex: 1;
  padding-left: 160px;
  padding-top: 10px;
}

.nav-links {
  display: flex;
  gap: 10px;
  padding-bottom: 20px;
  padding-right: 15px;
  padding-top: 20px;
}

.nav-links a {
  color: black;
  text-decoration: none;
  font-size: 16px;
}

.side-menu {
  position: fixed;
  left: -100%;
  top: 0;
  width: 20%;
  height: 100%;
  background-color: black;
  transition: 0.3s;
  padding-top: 60px;
  box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.5);
  z-index: 1200;
}

.side-menu a {
  display: block;
  color: white;
  padding: 15px 20px;
  text-decoration: none;
  transition: 0.2s;
}

.side-menu a:hover {
  background-color: #575757;
}

.main-content {
  padding: 10px;
  text-align: center;
  margin-top: -30px; /* Adjusts content to align with the half ellipse */
}

.map-placeholder {
  height: 400px;
  margin: 20px 0;
  background-color: antiquewhite;
}

#map {
  width: 100%;
  height: 400px;
  margin-bottom: 20px;
}

footer {
  background-color: black;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
  color: white;
  text-align: center;

  position: flex;
  bottom: 0;
}

footer a {
  color: white;
}

.social-icons img {
  width: 50px;
  height: 50px;
  padding-left: 5px;
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
}

input[type="text"] {
  width: 80%;
  padding: 10px;
  margin-top: 10px;
}

button {
  background-color: rgb(235, 235, 8);
  border-color: black;
  color: black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover {
  background-color: #555;
}
