header {
  background-color: rgb(235, 235, 8);
  color: #fff;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  font-size: 24px;
  font-weight: bold;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 14px;
  color: black;
}

.head a {
  color: black;
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 30px;
}

.login-box {
  background: rgb(241, 235, 235);
  padding: 2rem;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
}

h2 {
  text-align: center;
  margin-bottom: 1.5rem;
}

.input-group {
  margin-bottom: 1.5rem;
}

.input-group label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  width: 100%;
  padding: 0.5rem;
  background-color: rgb(219, 219, 31);
  color: black;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 1rem;
}

.btn:hover {
  background-color: rgb(235, 235, 8);
}

.links {
  text-align: center;
  margin-top: 1rem;
}

.links a {
  display: inline-block;
  margin: 0.5rem 0;
  color: blue;
  text-decoration: none;
}

.links a:hover {
  text-decoration: underline;
}

.error-message {
  color: red;
  font-size: 0.9rem;
  text-align: center;
}

.foot {
  background-color: black;
  color: white;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 4px;
  border-top-left-radius: 70px;
  border-top-right-radius: 70px;
}

.foot img {
  width: 50px;
  height: 50px;
  padding: 5px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  padding-bottom: 5px;
  border-top-left-radius: 60px;
  border-top-right-radius: 60px;
}

footer a {
  color: white;
}
