body {
  background-color: black;
  color: white;
  width: 100%;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: rgb(235, 235, 8);
  color: black;
  text-align: center;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head {
  font-size: 24px;
  font-weight: bold;
  padding-left: 32px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.head a {
  text-decoration: none;
  color: black;
}

.content {
  padding: 30px;
}

.content h1 {
  text-align: center;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
}

.foot img {
  width: 50px;
  height: 50px;
  padding-left: 5px;
  padding-bottom: 5px;
  color: white;
  text-decoration: none;
}

footer a {
  color: white;
}
